<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>american_help</title>
    <link rel="stylesheet" href="/static/source/fonts/fonts.css">
    <link rel="stylesheet" href="/static/source/pages/index/index.css">
</head>

<body>

    <header class="header">
        <div class="modal_loading__block">
            <img src="/static/source/img/loader.gif" alt="">
        </div>
        <div class="modal_accept__block">
            Accept
        </div>
        <div class="modal_bad__block">
            Bed
        </div>
        <div class="header_left">
            <div class="header_hamburger" id="hamburger">
                <div class="header_line header_line_1">
                </div>
                <div class="header_line header_line_2">
                </div>
                <div class="header_line header_line_3">
                </div>
            </div>
            <a href="#" class="header_left__logo">
                <img src="/static/source/img/common/logo.svg" alt="">
            </a>
        </div>
        <div class="header_links">
            <a href="#">
                About
            </a>
            <a href="#">
                How to help
            </a>
            <a href="#">
                Gellery
            </a>
            <a href="#">
                Contact
            </a>
        </div>
        <div class="header_btn">
            <button class="btn_white">
                <img src="/static/source/img/header/bxs_user.svg" alt="">
                <span>
                    Login
                </span>
            </button>
            <a href="#" class="btn_red">
                <span>
                    DONATE NOW
                </span>
                <img src="/static/source/img/header/ant-design_heart-filled.svg" alt="">
            </a>
        </div>
    </header>

    <section class="banner first_padding">
        <div class="banner_top" style="background-image: url(/static/source/img/top/bg1.png);">
            <div>
                <div class="banner_top_title">
                    <div class="banner_top_title__1">
                        <span>Help</span>
                        <img src="/static/source/img/top/Frame 55.svg" alt="">
                    </div>
                    <div>
                        Ukrainian
                        Families
                    </div>
                </div>
                <div class="banner_top__btn">
                    <a href="#" class="btn_red">
                        I want to help
                    </a>
                </div>
            </div>
            <div class="social">
                <a href="#">
                    <img src="/static/source/img/common/social/Frame 46.svg" alt="">
                </a>
                <a href="#">
                    <img src="/static/source/img/common/social/Frame 47.svg" alt="">
                </a>
                <a href="#">
                    <img src="/static/source/img/common/social/Frame 48.svg" alt="">
                </a>
                <a href="#">
                    <img src="/static/source/img/common/social/Frame 49.svg" alt="">
                </a>
                <a href="#">
                    <img src="/static/source/img/common/social/Frame 50.svg" alt="">
                </a>
            </div>
        </div>
        <div class="banner_bottom">
            <div class="banner_bottom_wrapper-1">
                <div class="banner_bottom_item">
                    <div class="banner_bottom_item_title banner_bottom_item_title__1">
                        Then
                    </div>
                    <div class="banner_bottom_item__img">
                        <img src="/static/source/img/top/Rectangle 83.png" alt="">
                    </div>
                </div>
                <div class="banner_bottom_item">
                    <div class="banner_bottom_item_title banner_bottom_item_title__2">
                        NOW
                    </div>
                    <div class="banner_bottom_item__img">
                        <img src="/static/source/img/top/Rectangle 84.png" alt="">
                    </div>
                </div>
            </div>
            <div class="banner_bottom_wrapper-2 banner_bottom_item">
                <div class="banner_bottom_item__img">
                    <img src="/static/source/img/top/Rectangle 85.png" alt="">
                </div>
            </div>
        </div>
    </section>

    <section class="about">
        <div class="about_title_container">
            <div class="about_title">
                What is happening in Ukraine?
            </div>

        </div>
        <div class="about_text">
            Russia invaded Ukraine on 24 February 2022, a major escalation of the Russo-Ukrainian War.
            Russia went to war against Ukraine, killing more than 2,000 people in just one week.
            The Russian army is targeting civilians, their homes, their lives, their future.
            Many Ukrainians are using subway stations as bomb shelters and civilians have been rushing to evacuate to
            other countries.
            Children continue to be killed, wounded and deeply traumatized by the violence all around them.
            Families are terrified, in shock, and desperate for safety. Many cities in Ukraine are destroyed such as
            Mariupol and Kharkiv.
        </div>
    </section>

    <section class="support">
        <div class="support_section section1">
            <img src="/static/source/img/support/image 1.png" alt="">
            <span class="section1__title">
                Support the people of <span>Ukraine</span>
            </span>
        </div>
        <div class="support_section section2">
            Help us provide medical assistance and humanitarian assistance to the brave defending Ukrainians!
        </div>
        <div class="support_section section3">
            Our mission is to save a life with the love of Christ by serving children
            with special needs and pregnant women who make life decisions, impacting society on their behalf.
        </div>
    </section>

    <section class="donate">
        <div class="donate_title_container">
            <div class="donate_title">
                <div class="donate_title_text">
                    Your donation to this fund will support Ukrainians in need,
                    with a focus on the most vulnerable, including children.
                </div>
                <a href="#" class="btn_red">
                    I want to help
                </a>
            </div>
        </div>
        <div class="donate_img">
            <img src="/static/source/img/donate/image 1 (1).png" alt="">
        </div>
    </section>

    <section class="help">
        <div class="help__title">
            We Help Ukraine 
        </div>
        <div class="help_slider swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="/static/source/img/help_slider/Rectangle 95.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="/static/source/img/help_slider/Rectangle 96.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="/static/source/img/help_slider/Rectangle 97.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="/static/source/img/help_slider/Rectangle 98.png" alt="">
                </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </section>

    <section class="contact-us">
        <div class="contact-us_info_container">
            <div class="contact-us_info">
                <div class="contact-us_info__1">
                    Contact us
                </div>
                <div class="contact-us_info__2">
                    623 Market St                                          
                    Kirkland WA 98033
                </div>
                <div class="contact-us_info__2">
                    Phone: 425-282-9108
                </div>
                <div class="contact-us_social">
                    <a href="#">
                        <img src="/static/source/img/common/social/Frame 46.svg" alt="">
                    </a>
                    <a href="#">
                        <img src="/static/source/img/common/social/Frame 47.svg" alt="">
                    </a>
                    <a href="#">
                        <img src="/static/source/img/common/social/Frame 48.svg" alt="">
                    </a>
                    <a href="#">
                        <img src="/static/source/img/common/social/Frame 49.svg" alt="">
                    </a>
                    <a href="#">
                        <img src="/static/source/img/common/social/Frame 50.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="contact-us_form_container">
            <form action="" class="contact-us_form validation__block">
                <div class="contact-us_info__2">
                    Contact me
                </div>
                <div class="validation_container">
                    <input type="text" name="name" placeholder="Your name *" class="validation_input" data-type="name">
                </div>
                <div class="validation_container">
                    <input type="text" name="Email/phone" placeholder="Email or phone *" class="validation_input" data-type="required">
                </div>
                <div class="validation_container">
                    <input type="text" name="comment" placeholder="Your Comments" class="validation_input" data-type="comment">
                </div>
                <div class="contact-us_form__btn">
                    <button class="btn_red validation_btn">
                        SEND
                    </button>
                </div>
            </form>
        </div>
    </section>

    <footer class="footer">
        <div>
            <a href="#">
                <img src="/static/source/img/common/logo.svg" alt="">
            </a>
        </div>
        <div class="footer_links">
            <a href="#">
                About
            </a>
            <a href="#">
                How to help
            </a>
            <a href="#">
                Gellery
            </a>
            <a href="#">
                Contact
            </a>
        </div>
        <div>
            <a href="">
                <img src="/static/source/img/footer/sw-logo 1.svg" alt="">
            </a>
        </div>
        <div class="footer_payment">
            <span class="footer_payment__title">
                Payment metod
            </span>
            <a href="">
                <img src="/static/source/img/footer/paypal.svg" alt="">
            </a>
            <a href="">
                <img src="/static/source/img/footer/image 2.svg" alt="">
            </a>
        </div>
        
    </footer>

    <script src="/static/source/pages/index/index.js"></script>

</body>

</html>